:root {
    --background-color: #000000;
    --main-color: #f316b4;
    --secundary-color: 5px 42px;
    --third-color: #9b1174;
    --text-color: whitesmoke;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    background-color: var(--background-color); 
}
h1{
    font-size: 1.1rem;
}





/*  


    GUIA DE NAVEGAÇÃO


*/
.logo{
    width: 150px;
    height: 150px;
    object-position: left;
}
header{
    display: flex;
    flex-direction: column;
    border: solid var(--main-color);
    text-align: center;
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
}
.link{
    color: var(--text-color);
    padding: 1%;
    text-decoration: none;
}
nav .link:nth-child(n+2):nth-child(-n+4) {
    border-left-style: solid;
}
.menu-openner{
    color: var(--text-color);
    margin-right: 15px;
    font-size: 26px;
    background-color: var(--background-color);
    padding: 5px 20px;
    border: solid 3px var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}
.menu-openner span{
    margin-right:5px;
}






/*  


    CARRINHO LATERAL


*/
aside{
    display: flex;
    flex-direction: column;
    background-color:rgb(219, 219, 219);
    width:0vw;
    height: 150vh;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .9s;
    overflow-x:hidden;
    color: black;
    font-weight: bolder;
}
aside.show{
    width:35vw;
}
.cart{
    width: 100%;
    margin-bottom:20px;
}
.cart--area{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin: 5% 0;
}
.cart--area .menu-closer{
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: 3px;
    width: 2vw;
    height: 2vw;
}
.cart--area .menu-closer p{
    color: red;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}
.cart--details{
    display: flex;
    flex-direction: column;
}
.cart--finalizar{
    font-size: 1.3rem;
    align-self: center;
}
.cart--item{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: solid black 1px;
}
.cart--item button{
    justify-items: center;
    align-content: center;
    align-self: center;
    width: 20px;
    height: 20px;
}
.cart--item--qtarea{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cart--item img{
    width: 15vw;
    height: 15vw;
}
.cart--item-nome {
    flex:1;
    margin: 10px 0 30px 0;
}
.cart--item--qt {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0px 10px;
    color:#000;
}
.cart--item--qtarea button {
    width: 30px;
    height: 30px;
    font-weight: bolder;
    border: solid 1px black;
    border-radius: 30%;
    background-color:transparent;
    font-size:15px;
    cursor:pointer;
    color: black;
    padding: 0 0 0 0;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #d32f2f;
    color:#315970;
    display:flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    align-items: center;
    width: 70%;
    height: 30%;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}





/*  


    AREA DOS PRODUTOS


*/
.letra-rosa{
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    display:flex;
}
.paragrafo{
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    display:flex;
}
.Conteudo{
    color: var(--text-color);
    text-align: center;
    font-weight: auto;
    font-size: 25px;
    display:flex;
}
.Coluna{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Produto-area{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.Produto-item{
    cursor: pointer;
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.Produto-item:hover{
    border: solid 2px var(--third-color);
    padding: 2vw 2vw 2vw 2vw;
    margin-top: -2vw;
}
.Produto-item:hover .Produto-item--add{
    margin-top:-2vw;
    width: 4vw;
    height: 4vw;
}
.Produto-item a{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.Produto-item--img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow:0px 10px 50px var(--third-color);
}
.Produto-item--img img{
    
    height: 100%;
    width:100%;
}
.Produto-item--add{
    margin-top:-1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2vw;
    height:2vw;
    border-radius:25px;
    background-color: var(--third-color);
    color: var(--text-color);
    font-size:22px;
    cursor:pointer;
    transition:all ease .2s;
}
.Produto-item--price{
    font-size:2rem;
    color: var(--text-color);
    margin-top:5px;
}
.Produto-item s{
    color: #d32f2f;
    font-size: 1.5rem;
}
.Produto-item--price2{
    font-size: 2.5rem;
    color:#35af4a;
}
.Produto-item--name{
    font-size:1.3rem;
    font-weight: bold;
    color: var(--text-color);
    margin-top:5px;
}
.models{
    display: none;
}
.ProdutoWindowArea{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.24);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.ProdutoWindowBody{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    min-width: 1000px;
    height: 70vh;
    min-height: 300px;
    background-color:var(--background-color);
    box-shadow:0px 0px 15px var(--main-color);
    border-radius:10px;
}
.ProdutoBig{
    flex:1;
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ProdutoBig img{
    height: 80%;
    width: 80%;
}
.ProdutoInfo{
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
    color: var(--text-color);
}
.ProdutoInfo h1{
    margin: 50px 15px 0 0;
}
.ProdutoInfo--price{
    display:flex;
    align-items:center;
}
.ProdutoInfo--actualPrice{
    font-size:28px;
    margin-right:30px;
}
.ProdutoInfo--actualPrice s{
    color: #d32f2f;
    font-size: 1.5rem;
    margin-right:30px;
}
.ProdutoInfo--actualPrice2{
    font-size: 2.5rem;
    margin-right:30px;
    color:#35af4a;
}
.ProdutoInfo--qtarea{
    display:inline-flex;
    background-color:var(--text-color);
    border-radius:10px;
    height:30px;
    margin: 0 15px
}
.ProdutoInfo--qtarea button{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.ProdutoInfo--qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.ProdutoInfo--addButton{
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#9b1174;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.ProdutoInfo--addButton:hover {
    background-color:#770e59;
}
.ProdutoInfo--cancelButton{
    display:inline-block;
    cursor:pointer;
}
.ProdutoInfo--cancelMobileButton{
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}








/*  


    CÓDIGO PARA MOBILE


*/
@media (max-width:1000px) {
    .Produto-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .Produto-area {
        display:block;
    }
    .Produto-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    /*
    main {
        padding-top:60px;
    }
    */
    aside {
        width:0px;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .ProdutoWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .ProdutoWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .ProdutoBig img {
        width: 75%;
        height: auto;
    }

    .ProdutoInfo h1 {
        margin-top:20px;
    }

    .ProdutoInfo--qtarea {
        height:60px;
    }
    
    .ProdutoInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .ProdutoInfo--qt {
        line-height: 60px;
        font-size:20px;
    }

    .ProdutoInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .ProdutoInfo--cancelButton {
        display:none;
    }

    .ProdutoInfo--cancelMobileButton {
        display:block;
    }

}

